
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("/Views/Default/HeadPartial.cshtml")

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    @Html.Partial("/Views/Default/NavbarPartial.cshtml")

    @Html.Action("FeaturePartial") @*Action sayfaları dinamik olarak kullanılıyor*@
    <!-- about section -->
    @Html.Action("AboutPartial")
    <!--adasdasdasd-->
    @Html.Action("EducationPartial")
    <!-- end of about section -->
    <!-- service section -->
    @Html.Action("ServicePartial")
    <!-- end of service section -->
    <!-- portfolio section -->
    @Html.Action("ProjectPartial")
    <!-- end of portfolio section -->
    <!-- section -->
    @Html.Partial("/Views/Default/HireMePartial.cshtml")
    <!-- end of section -->
    <!-- testimonial section -->
    @Html.Action("TestimonialPartial")
    <!-- end of testimonial section -->
    <!-- contact section -->
    @Html.Action("ContactPartial")
    <!-- end of contact section -->
    <!-- footer -->
    @Html.Action("SocialPartial")

    <!-- end of page footer -->
    <!-- core  -->
    <script src="~/Templates/meyawo-1.0.0/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/Templates/meyawo-1.0.0/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
    <script src="~/Templates/meyawo-1.0.0/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <!-- Meyawo js -->
    <script src="~/Templates/meyawo-1.0.0/assets/js/meyawo.js"></script>

</body>

</html>
